// Google Fonts: "Source Code Pro"
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap')
// Google Fonts: "Public Sans"
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800;900&display=swap')
// Google Fonts: "Plaster"
@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap')


$lavenderBlue: #ccd6f6
$coolGrey: #8892b0
$seaGreen: #1dffca
$maastrichtBlue: #0a192f


html, body
    padding: 0
    margin: 0
    font-family: "Public Sans", sans-serif
    background: $maastrichtBlue
    color: $coolGrey
    overflow-x: hidden

*
    box-sizing: border-box
    &::selection, &::-moz-selection
        background: rgba($seaGreen, 0.8)
        color: #ffffff
