/* Google Fonts: "Public Sans" */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Google Fonts: "Source Code Pro" */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');
/* Google Fonts: "Plaster" */
@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


html, body {
    font-family: "Public Sans", sans-serif;
}

*::selection, *::-moz-selection {
    color: #FFFFFF;
    background: rgba(101, 143, 208, 0.24);
}