@import "tailwindcss";

@theme {
    --color-black-50: #f6f6f6;
    --color-black-100: #e7e7e7;
    --color-black-200: #d1d1d1;
    --color-black-300: #b0b0b0;
    --color-black-400: #888888;
    --color-black-500: #6d6d6d;
    --color-black-600: #5d5d5d;
    --color-black-700: #4f4f4f;
    --color-black-800: #454545;
    --color-black-900: #3d3d3d;
    --color-black-950: #000000;
    --color-black: var(--color-black-950);

    --color-white-50: #ffffff;
    --color-white-100: #efefef;
    --color-white-200: #dcdcdc;
    --color-white-300: #bdbdbd;
    --color-white-400: #989898;
    --color-white-500: #7c7c7c;
    --color-white-600: #656565;
    --color-white-700: #525252;
    --color-white-800: #464646;
    --color-white-900: #3d3d3d;
    --color-white-950: #292929;
    --color-white: var(--color-white-50);

    --color-woodsmoke-50: #f6f6f6;
    --color-woodsmoke-100: #e7e7e7;
    --color-woodsmoke-200: #d1d1d1;
    --color-woodsmoke-300: #b0b0b0;
    --color-woodsmoke-400: #888888;
    --color-woodsmoke-500: #6d6d6d;
    --color-woodsmoke-600: #5d5d5d;
    --color-woodsmoke-700: #4f4f4f;
    --color-woodsmoke-800: #454545;
    --color-woodsmoke-900: #292828;
    --color-woodsmoke-950: #141414;
    --color-woodsmoke: var(--color-woodsmoke-950);

    --color-amethyst-50: #f6f3ff;
    --color-amethyst-100: #efe9fe;
    --color-amethyst-200: #e0d6fe;
    --color-amethyst-300: #cab6fc;
    --color-amethyst-400: #b28cf9;
    --color-amethyst-500: #9456f4;
    --color-amethyst-600: #8b3ceb;
    --color-amethyst-700: #7c2ad7;
    --color-amethyst-800: #6822b5;
    --color-amethyst-900: #561e94;
    --color-amethyst-950: #351164;
    --color-amethyst: var(--color-amethyst-500);

    --color-rose-50: #fff0f9;
    --color-rose-100: #ffe3f5;
    --color-rose-200: #ffc6eb;
    --color-rose-300: #ff98d9;
    --color-rose-400: #ff58be;
    --color-rose-500: #ff27a2;
    --color-rose-600: #ee0074;
    --color-rose-700: #df0061;
    --color-rose-800: #b80050;
    --color-rose-900: #980345;
    --color-rose-950: #5f0025;
    --color-rose: var(--color-rose-600);
}

@layer components {
    .link {
        color: var(--color-white-200);
        transition: 300ms;
        &:hover {
            color: var(--color-white);
        }
    }
    .link-inline {
        text-decoration: underline;
        color: var(--color-white-200);
        transition: 300ms;
        &:hover {
            color: var(--color-white);
        }
    }
    .title {
        @apply text-4xl text-center font-light uppercase tracking-wider
    }
}

/*
Gradient text
*/

.text-gradient {
    color: transparent;
    background: linear-gradient(to right, #FED877, #fe9077, #9456f4, #fe9077, #FED877);
    background-clip: text;
    background-size: 200%;
    animation: 8s bg-shift-right linear infinite;
}

@keyframes bg-shift-right {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 200%;
    }
}

/*
Rotating gradient effect when hovering
(used for the project components)
*/

.border-gradient {
    position: relative;
}

.border-gradient::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "hello";
    width: 100%;
    height: 100%;
    background: conic-gradient(
            from calc(-1 * var(--angle)),
            transparent,
            #ffead1 5deg,
            #ff9729 40deg,
            #a94cfd,
            #00C2FF,
            transparent
    ) border-box;
    border-radius: inherit;
    border: 2px solid transparent;
    mask: linear-gradient(#fff, #fff) padding-box, linear-gradient(#fff, #fff);
    mask-composite: exclude;
    z-index: -1;
    opacity: 0;
    transition: opacity 300ms ease;
    animation: 5s rotate linear infinite;
}

.border-gradient:hover::after {
    opacity: 1;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}